.booking-panel-desktop {
    display: block;
    width: 40%;
}

.booking-panel-mobile {
    display: none;
}

@media (max-width: 700px) {
    .booking-panel-desktop {
        display: none;
    }

    .booking-panel-mobile {
        display: block;
    }
}