@media screen and (min-width: 769px) {
    .contextspace {
        width: 50%;
    }

    .pictureoutline {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 150px 150px;
        grid-gap: 10px;
        width: 100%;
    }

    .pic-1 {
        grid-column: span 2;
        grid-row-start: span 2;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }

    .pic-2,
    .pic-3 {
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }

    ul>li {
        margin-top: 20px;
        font-size: medium;
    }
}

@media screen and (max-width: 768px) {
    .contextspace {
        width: 100%;
    }

    .pictureoutline {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: 300px;
        grid-gap: 10px;
        width: 100%;
    }

    .pic-1 {
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }

    .pic-2,
    .pic-3 {
        display: none;
    }
}

.contentsplit {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto;
}

.buttonMobile {
    background-color: rgb(59, 138, 175);
    color: whitesmoke;
    font-size: 16px;
    width: 80px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    border: none;
}

img {
    width: 100%;
}

.split {
    border: 1px solid rgba(232, 232, 232, 1);
    margin: 20px auto;
}

section {
    margin: 0 0 30px 0;
}

div>span {
    padding: 0 10px;
}

.topicfont {
    font-size: 18px;
    font-weight: 500;
}

.topicgraph {
    display: flex;
    align-items: center;
}

i {
    padding-right: 10px;
}

table {
    margin: 10px 0;
}