@keyframes m {
    0%  {background-position-x:-200%, -100%, 0%, 100%}
    100%{background-position-x:  0%, 100%, 200%, 300%}
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .marq-infinite {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
  }
  
  .marq-item {
    display: flex;
  }
  
  .marq-infinite .marq-item {
    animation: marquee 15s linear infinite;
    cursor: pointer;
  }
  
  .marq-infinite:hover .marq-item {
    animation-play-state: paused;
  }
  
  .marq-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  #navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  
  
  @media screen and (min-width: 601px) {

    button {
      width: 100px;
      font-size: 5px;
    }

    .dGrid {
      display: grid;
      width: 100vw;
      max-width: 100%;
      padding: 1.75rem 0;
      grid-gap: 28px;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 180px 150px;
    }
  
    /* 共用樣式 */
    .dIm1, .dIm2, .dIm3, .dIm4, .dIm5, .dIm6 {
      position: relative;
      cursor: pointer;
      text-decoration: none;
    }

    /* 個別 grid 位置 */
    .dIm1 { grid-column: 1 / 3; }
    .dIm2 { grid-column: 3 / 5; }
    .dIm3 { grid-column: 1 / 2; }
    .dIm4 { grid-column: 2 / 3; }
    .dIm5 { grid-column: 3 / 4; }
    .dIm6 { grid-column: 4 / 5; }
  
    .marq-container {
      width: 344px;
      height: 214px;
      margin-right: 24px;
      overflow-x: hidden;
    }
  
    .wavedown {
      background-color:#f5ece6;
      width: 100%;
      height: 100%;
      padding: 50px 0px 70px 0px;
    }
  
    .wave{
      width: 100%;
      height: 100px;
      padding-bottom: 100px;
      --c: #f5ece6;
      --w1: radial-gradient(100% 57% at top ,#0000 100%,var(--c) 100.5%) no-repeat;
      --w2: radial-gradient(100% 57% at bottom, var(--c) 100%,#0000 100.5%) no-repeat;
      background: var(--w1),var(--w2),var(--w1),var(--w2);
      background-position-x: -200%, -100%, 0%, 100%;
      background-position-y: -100%;
      background-size: 50.5% 100%;
      animation: m 3s infinite linear;
    }
  
    .checkContainer {
      display: flex;
      justify-content: center;
      align-items:center;    
    }
  
    .checkBlock {
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
      width: 600px;
      border-radius: 5px;
      border: 1px solid #adb5bd;
      height: 70px;
      text-align: center;
    }
  
    .checkBox {
      height: 40px;
      border: none;
      appearance: none;
      cursor: pointer;
      width: 80px;
      text-align: center;
    }
  
    .checkBox-building , .checkBox-house , .button {
      margin: 0 auto;
    }
  
    .fa-solid {
      padding: 5px;
    }
  
    .button {
      height: 40px;
      border: none;
      border-radius: 6px;
      color: white;
      background-color: black;
      width: 130px;
      transition: all .5s 0s ease;
    }
  
    .divider {
      display: block;
      height: 27px;
      border-left: 1px solid rgb(185, 176, 176);
      margin: 0 11px;
    }
  }
  
  @media screen and (max-width: 600px) {

    .fontBlock {
      margin-bottom: 50px;
    }
  
    .dGrid {
      display: grid;
      width: 100vw;
      max-width: 100%;
      padding: 1.25rem 0;
      grid-gap: 8px;
      grid-template-columns: auto auto;
      grid-template-rows: unset;
    }
  
    /* 共用樣式 */
    .dIm1, .dIm2, .dIm3, .dIm4, .dIm5, .dIm6 {
      grid-column: unset;
      height: 100px;
      position: relative;
      cursor: pointer;
      text-decoration: none;
    }
  
    .marq-container {
      width: 180px;
      height: 150px;
      margin-right: 10px;
      overflow-x: hidden;
    }
  
    .wavedown {
      background-color:#f5ece6;
      width: 100vw;
      height: 100%;
      padding: 20px 0px 40px 0px;
    }
  
    .wave{
      width: 100vw;
      height: 100%;
      padding-bottom: 50px;
      --c: #f5ece6;
      --w1: radial-gradient(100% 57% at top ,#0000 100%,var(--c) 100.5%) no-repeat;
      --w2: radial-gradient(100% 57% at bottom, var(--c) 100%,#0000 100.5%) no-repeat;
      background: var(--w1),var(--w2),var(--w1),var(--w2);
      background-position-x: -200%, -100%, 0%, 100%;
      background-position-y: 100%;
      background-size: 50.5% 100%;
      animation: m 3s infinite linear;
    }
  
    .checkContainer { 
      margin: 0px auto; 
    }

    .checkBlock {
      text-align: center;
    }
  
    .checkBox {
      appearance: none;
      border: none;
      cursor: pointer;
      margin: 0px 0px;
      text-align: center;
      background-color: white;
    }
  
    .checkBox-building , .checkBox-house {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: white;
      border-radius: 5px;
      width: 180px;
      margin: 0px auto 10px auto;
    }
  
    .fa-solid , .bigFont {
      margin: 0 1ch
    }
  
    .button {
      border: none;
      background-color: black;
      color: white;
      border-radius: 5px;
      width: 180px;
      height: 50px;
      text-align: center;
      margin: 0px auto 10px auto;
    }
  
    .divider {
      display: none;
    }
  }
  
  .logoFocus {
    width: 150px;
    height: 30px;
    margin-right: 10px;
  }
  
  .img-sec {
    position: relative;
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://github.com/ywei-chen/siteFalicyCRADemo/blob/main/src/assets/bg6.jpg?raw=true');
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newsSource {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: smaller;
  }
  
  
  .news {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .carousel {
    cursor: pointer;
  }
  
  #indicat {
    background-color: #000000c6;
  }
  
  .img-right {
    float: right;
    width: 234px;
    height: 132px;
    margin: 0 0 16px 16px;
  }
  
  .textfont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000040;
  }
  
  .textfont > span {
    position: absolute;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: aliceblue;
  }
  
  .textfont {
    transition: all .3s 0s ease;
  }
  
  .textfont:hover {
    outline: none;
    outline-offset: 0;
    background-color: #ece1e113;
    text-decoration: none;
  }
  
  .FontDirection {
    margin: 100px 0px 50px 0px;
  }
  
  .endDirection {
    background-color: #f2f4f7;
    height: 300px;
    width: 100%;
    text-align: center;
  }
  
  .endFont {
    padding: 100px 0px 30px;
    text-align: center;
  }