@media screen and (max-width: 600px) {
    .logoNav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgLogo {
        object-fit: cover;
        height: 30px;
    }

    .logoText {
        display: none;
    }

    .loginLogo {
        font-size: 12px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

@media screen and (max-width: 380px) {
    .loginLogo {
        display: none !important;
    }
}

@media screen and (min-width: 601px) {
    .logoNav {
        display: flex;
        align-items: center;
    }

    .imgLogo {
        object-fit: cover;
        height: 40px;
    }

    .logoText {
        margin-left: 10px;
        font-size: 15px;
    }

    .loginLogo {
            font-size: 12px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            margin-left: auto;
    }
}