body {
    height: 100vh;
}

.split {
    border: 1px solid rgba(232, 232, 232, 1);
    margin: 20px auto;
}

.context {
    margin: 30px 10px;
}

.bookblock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid rgba(61, 63, 86, 0.5);
    height: 60px;
    width: 80%;
}

.settingChange {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.settingChange > div {
    margin: 10px auto;
}

.revise {
      height: 40px;
      border: none;
      border-radius: 6px;
      color: white;
      background-color: black;
      width: 130px;
      transition: all .5s 0s ease;
    }