.pictureoutline {
    padding: 1.75rem, 0;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-rows: repeat(2,minmax(0,1fr));
}

.pictureoutline > img {
    object-fit: contain;
}