@media screen and (min-width: 921px) {
    .pictureoutline {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 200px));
        grid-gap: 10px;
        width: 100%;
    }

    .pic-1 {
        grid-column: span 2;
        grid-row-start: span 2;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }

    .pic-2,
    .pic-3 {
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media screen and (max-width: 920px) {
    .pictureoutline {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-gap: 10px;
        width: 100%;
    }

    .pic-1 {
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
    }

    .pic-2,
    .pic-3 {
        display: none;
    }
}

img {
    width: 100%;
}

.split {
 border: 1px solid rgba(232, 232, 232, 1);
}

section {
    margin: 30px 0;
}

div > span {
    padding: 0 10px;
}

.topicfont {
    font-size: 20px;
    font-weight: 600;
}

.topicgraph {
    display: flex;
    align-items: center;
}

.topicontent {
    padding: 5px 0;
    font-size: medium;
    font-weight: 400;
}

i {
    padding-right: 10px;
}

.picture {
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}

.courtexaple {
    text-decoration: none;
    text-align: center;
    color: black;
    height: 100%;
    width: 50px;
    padding-right: 15px;
}

table {
   margin: 10px 0; 
}

.buttongroup {
    padding: 0 5px;
}

.buttonTop {
    margin-right: 5px;
    height: 25px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: black;
    width: 70px;
}