.signBox {
    min-width: 300px;
}

.chosedBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    height: 55px;
    cursor: pointer;
}
.inBlock {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}