body {
    height: 100vh;
}

.split {
    border: 1px solid rgba(232, 232, 232, 1);
    margin: 20px auto;
}

.context {
    margin: 30px 10px;
}

.bookingblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgba(61, 63, 86, 0.5);
    height: 60px;
    width: 80%;
    padding: 20px;
}

.buttonend {
    background-color: rgb(10, 54, 75);
    color: whitesmoke;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    border: none;
}