#root {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  letter-spacing: 0.1ch;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex;
      flex-basis: auto;
      justify-content: end;
      margin: 0 20px;
  }
}

.logoFocus {
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

.dGrid {
  display: grid;
  width: 100vw;
  max-width: 100%;
  padding: 1.75rem 0;
  grid-gap: 28px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 180px 150px;
}

.dIm1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.dIm2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.dIm3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.dIm4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.dIm5 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.dIm6 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.img-right {
  float: right;
  width: 234px;
  height: 132px;
  margin: 0 0 16px 16px;
}

.footer {
  color: #c0b283;
}