#root {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  letter-spacing: 0.1ch;
  background: #feffff;
}

body {
  overflow-x: hidden;
}

@keyframes m {
  0%  {background-position-x:-200%, -100%, 0%, 100%}
  100%{background-position-x:  0%, 100%, 200%, 300%}
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marq-infinite {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.marq-item {
  display: flex;
}

.marq-infinite .marq-item {
  animation: marquee 15s linear infinite;
  cursor: pointer;
}

.marq-infinite:hover .marq-item {
  animation-play-state: paused;
}

.marq-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}


@media screen and (min-width: 601px) {
  .dGrid {
    display: grid;
    width: 100vw;
    max-width: 100%;
    padding: 1.75rem 0;
    grid-gap: 28px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 180px 150px;
  }

  .dIm1 {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  
  }
  
  .dIm2 {
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  
  }
  
  .dIm3 {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dIm4 {
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dIm5 {
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dIm6 {
    grid-column-start: 4;
    grid-column-end: 5;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }

  .marq-container {
    width: 344px;
    height: 214px;
    margin-right: 24px;
    overflow-x: hidden;
  }

  .wavedown {
    background-color:#f5ece6;
    width: 100%;
    height: 100%;
    padding: 50px 0px 70px 0px;
  }

  .wave{
    width: 100%;
    height: 100px;
    padding-bottom: 100px;
    --c: #f5ece6;
    --w1: radial-gradient(100% 57% at top ,#0000 100%,var(--c) 100.5%) no-repeat;
    --w2: radial-gradient(100% 57% at bottom, var(--c) 100%,#0000 100.5%) no-repeat;
    background: var(--w1),var(--w2),var(--w1),var(--w2);
    background-position-x: -200%, -100%, 0%, 100%;
    background-position-y: -100%;
    background-size: 50.5% 100%;
    animation: m 3s infinite linear;
  }

  .checkContainer {
    display: flex;
    justify-content: center;
    align-items:center;    
  }

  .checkBlock {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    height: 70px;    
  }

  .checkBox {
    height: 40px;
    border: none;
    appearance: none;
    cursor: pointer;
    width: 80px;
    text-align: center;
  }

  .checkBox-building , .checkBox-house , .button {
    margin: 0 auto;
  }

  .fa-solid {
    padding: 5px;
  }

  .button {
    height: 40px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: black;
    width: 130px;
    transition: all .5s 0s ease;
  }

  .divider {
    display: block;
    height: 27px;
    border-left: 1px solid rgb(185, 176, 176);
    margin: 0 11px;
  }
}

@media screen and (max-width: 600px) {

  .dGrid {
    display: grid;
    width: 100vw;
    max-width: 100%;
    padding: 1.25rem 0;
    grid-gap: 8px;
    grid-template-columns: auto auto;
    grid-template-rows: unset;
  }

  .dIm1 {
    grid-column-start: unset;
    grid-column-end: unset;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  
  }
  
  .dIm2 {
    grid-column-start: unset;
    grid-column-end: unset;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  
  }
  
  .dIm3 {
    grid-column-start: unset;
    grid-column-end: unset;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dIm4 {
    grid-column-start: unset;
    grid-column-end: unset;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dIm5 {
    grid-column-start: unset;
    grid-column-end: unset;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dIm6 {
    grid-column-start: unset;
    grid-column-end: unset;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }

  .marq-container {
    width: 180px;
    height: 150px;
    margin-right: 10px;
    overflow-x: hidden;
  }

  .wavedown {
    background-color:#f5ece6;
    width: 100%;
    height: 100%;
    padding: 20px 0px 40px 0px;
  }

  .wave{
    width: 100vw;
    height: 100%;
    padding-bottom: 50px;
    --c: #f5ece6;
    --w1: radial-gradient(100% 57% at top ,#0000 100%,var(--c) 100.5%) no-repeat;
    --w2: radial-gradient(100% 57% at bottom, var(--c) 100%,#0000 100.5%) no-repeat;
    background: var(--w1),var(--w2),var(--w1),var(--w2);
    background-position-x: -200%, -100%, 0%, 100%;
    background-position-y: 100%;
    background-size: 50.5% 100%;
    animation: m 3s infinite linear;
  }

  .checkContainer { 
    margin: 0px auto; 
  }

  .checkBox {
    appearance: none;
    border: none;
    cursor: pointer;
    margin: 0px 0px;
    text-align: center;
  }

  .checkBox-building , .checkBox-house {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin: 0px auto 10px auto;
  }

  .fa-solid {
    margin: 0 2ch
  }

  .button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 0px auto 10px auto;
  }

  .divider {
    display: none;
  }
}

.logoFocus {
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

.img-sec {
  position: relative;
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('./assets/bg6.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsSource {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: smaller;
}


.news {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carousel {
  cursor: pointer;
}

#indicat {
  background-color: #000000c6;
}

.img-right {
  float: right;
  width: 234px;
  height: 132px;
  margin: 0 0 16px 16px;
}

.textfont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
}

.textfont > span {
  position: absolute;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: aliceblue;
}

.textfont {
  transition: all .3s 0s ease;
}

.textfont:hover {
  outline: none;
  outline-offset: 0;
  background-color: #ece1e113;
  text-decoration: none;
}

.mm {
  margin: 100px 0px;
}

.ll {
  background-color: #f2f4f7;
  height: 300px;
  width: 100%;
}

.kk {
  padding: 100px 0px 30px;
}

.footer {
  color: black;
}

footer {
  background-color: #f7f7f7;
}