/* 全域基本樣式 */
html, body {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.1ch;
  background-color: #feffff;
  overflow-x: hidden;
}

#root {
  font-family: inherit;
}
